{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:cypress/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12
  },
  "rules": {
    "react/no-unknown-property": "off",
    "no-unused-vars": "warn"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "plugins": ["import", "react-hooks", "prettier"]
}
